/*------------ Design for Xs & Os Game------ */
/*------------ Design for Xs & Os Game------ */
/*------------ Design for Xs & Os Game------ */
/*------------ Design for Xs & Os Game------ */


html {
    /*box-sizing: border-box; */
}

/*----------- GAME BOARD ---------------*/
*  {
   text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.gridContainer {
    
    border: 1px solid green
}*/

.gridContainer {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    border: 1px solid red;
    grid-template-areas:
        "TL TC TR"
        "ML MC MR"
        "BL BC BR";
}

.cell {
    border: 1px solid black;
}


/* -------------INDIVIDUAL BOXES -------------------- */

.TL {
    grid-area: TL;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.TC {
    grid-area: TC;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.TR {
    grid-area: TR;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.ML {
    grid-area: ML;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.MC {
    grid-area: MC;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.MR {
    grid-area: MR;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.BL {
    grid-area: BL;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.BC {
    grid-area: BC;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
.BR {
    grid-area: BR;
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
}
